*{margin: 0;padding: 0;}
*{font-family: 'Montserrat', sans-serif;}

.div {
        background-color: #48CAE4;
        height: 70px;
        position: fixed;
        width: 100%;
}
.div nav div div ul li a {
        color: #03045E ;
        font-weight: bold;
}
.divflex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}
.footerflex div {
        display: flex;
        flex-direction: row;
        justify-content: end;
}
.footerflex div a {
        width: 5%;
}
.footerflex div img {
        width: 100%;
        padding: 2px;
}
.footer p {
        text-align: right;
        font-size: 80%;
}

