*{margin: 0;padding: 0;}
*{font-family: 'Montserrat', sans-serif;}

.body {background-color: #fffcf5;}
.nav {
        padding: 0px;
        height: 60px;
        background-color: #03045E}
.nav div div {
        justify-content: end;
        background-color: #03045E;}
.nav div div ul li a {
        color: aliceblue;
}
.main section div {
        padding: 10px;}
.main section div img {
        width: 90%;} 
.main section div h2 {
        text-align: center;
        font-weight: 600;
}
.divflex {
        display: flex;
        flex-direction: row;
        justify-content: center;
}
.modelos_main img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;}
.modelos_main h3 {
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        font-weight: 700;}
.modelos_main div{
        padding-top: 30px;}
.modelos_main p {
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        padding: 0px;}
.modelos_main button{
        margin-left: 10px;
        margin-right: 10px;
}
.footer {background-color: #03045E;
        margin-top: 50px;
        padding: 10px;}
.footer img{
        width: 25%;}
.footer p{
        font-size: 80%;
        color: #fffcf5;
        text-align: right;
        margin: 0px;
}
