.img_scale img {
  transition: all 0.5s; }
  .img_scale img:hover {
    width: 100%; }

* {
  margin: 0;
  padding: 0; }

* {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font: bold 30px/1.5 "Montserrat", sans-serif; }

h2 {
  font: bold 30px/1.5 "Montserrat", sans-serif; }

header {
  background-color: #023e8a;
  padding: 0px; }

.nav {
  padding: 0px;
  height: 60px;
  background-color: #023e8a;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .nav img {
    display: block;
    height: 80%;
    width: auto;
    padding-left: 10px;
    padding-top: 10px; }
  .nav nav div {
    flex-direction: row-reverse;
    display: block;
    width: auto;
    margin-right: 0px; }
    .nav nav div div {
      justify-content: end;
      background-color: #023e8a; }
      .nav nav div div ul li a {
        color: aliceblue;
        font-size: larger; }

.body {
  background-color: #fffcf5; }

.footer {
  background-color: #023e8a;
  margin-top: 50px;
  padding: 10px; }
  .footer img {
    width: 25%; }
  .footer p {
    font-size: 80%;
    color: #fffcf5;
    text-align: right;
    margin: 0px; }

.index_main div {
  padding-top: 40px;
  padding-bottom: 40px; }

.index_main h1 {
  text-align: center;
  font-weight: 600;
  font-size: 100px; }

.index_main h2 {
  text-align: center; }

.index_main img {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.divflex {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.modelos_main img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.modelos_main h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  font-weight: 700; }

.modelos_main div {
  padding-top: 30px; }

.modelos_main h4 {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  padding: 0px; }

.modelos_main button {
  margin-left: 10px;
  margin-right: 10px; }

.modelos_main p {
  font-weight: bolder;
  display: inline-block;
  margin: 0px; }

.fondoblanco {
  background-color: lavender; }
  .fondoblanco h1 {
    text-align: center; }
  .fondoblanco h5 {
    font-weight: bolder; }
  .fondoblanco p {
    text-align: justify; }

.motorhome_main img {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.motorhome_main h2 {
  text-align: center;
  font-weight: 700;
  padding-top: 20px; }

.motorhome_main h5 {
  padding-left: 20px; }

.motorhome_main p {
  text-align: justify;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px; }

.motorhome_div {
  padding-top: 50px; }
  .motorhome_div div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center; }
  .motorhome_div img {
    width: 50%; }
  .motorhome_div p {
    width: 50%;
    margin-left: auto;
    margin-right: auto; }

.motorhome_grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 6fr 2fr;
  justify-items: stretch;
  grid-template-areas: "img_pr img_pr img_pr img_pr" "img_1 img_2 img_3 img_4";
  padding-top: 20px; }
  .motorhome_grid img {
    inline-size: 100%;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px; }

.motorhome_grid_b {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 6fr 2fr;
  justify-items: stretch;
  grid-template-areas: "img_prb img_prb img_prb img_prb" "img_1 img_2 img_3 img_4";
  padding-top: 20px; }
  .motorhome_grid_b img {
    inline-size: 100%;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px; }

.motorhome_grid_c {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 6fr 2fr;
  justify-items: stretch;
  grid-template-areas: "img_prc img_prc img_prc img_prc" "img_1 img_2 img_3 img_4";
  padding-top: 20px; }
  .motorhome_grid_c img {
    inline-size: 100%;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px; }

.motorhome_grid_4x4 {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-rows: 6fr 2fr;
  justify-items: stretch;
  grid-template-areas: "img_pr4x4 img_pr4x4 img_pr4x4 img_pr4x4" "img_1 img_2 img_3 img_4";
  padding-top: 20px; }
  .motorhome_grid_4x4 img {
    inline-size: 100%;
    border-radius: 10px;
    padding-top: 5px;
    padding-right: 5px; }

.img_pr {
  grid-area: img_pr;
  background-image: url(../multimedia/a_int1.jpg);
  background-size: cover;
  border-radius: 10px; }

.img_1 {
  grid-area: img_1; }

.img_2 {
  grid-area: img_2; }

.img_3 {
  grid-area: img_3; }

.img_4 {
  grid-area: img_4; }

.img_prb {
  grid-area: img_prb;
  background-image: url(../multimedia/b_int1.jpg);
  background-size: cover;
  border-radius: 10px; }

.img_prc {
  grid-area: img_prc;
  background-image: url(../multimedia/c_int1.jpg);
  background-size: cover;
  border-radius: 10px; }

.img_pr4x4 {
  grid-area: img_pr4x4;
  background-image: url(../multimedia/4x4_int1.jpg);
  background-size: cover;
  border-radius: 10px; }

.contacto_main h2 {
  text-align: center;
  font-weight: 700;
  padding-top: 20px; }

.contacto_main p {
  text-align: justify;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px; }

.contacto_main div {
  margin-top: 30px; }

.formulario {
  border: 10px;
  font-size: 90%; }
  .formulario label {
    display: block; }
  .formulario input {
    display: block;
    width: 100%; }
  .formulario textarea {
    width: 100%;
    box-sizing: border-box; }

.redes_sociales {
  display: flex;
  flex-direction: row;
  justify-content: end; }
  .redes_sociales img {
    width: 50px;
    height: 50px; }

.breadcrumb {
  display: flex;
  flex-direction: row;
  justify-content: end; }
  .breadcrumb ul {
    list-style: none; }
  .breadcrumb li {
    padding-top: 20px;
    display: inline;
    font-size: 15px; }
    .breadcrumb li a {
      color: #0275d8;
      text-decoration: none; }
      .breadcrumb li a:hover {
        color: black;
        text-decoration: underline; }

@media screen and (max-width: 768px) {
  .motorhome_grid {
    display: flex;
    flex-direction: column; }
  .motorhome_grid_b {
    display: flex;
    flex-direction: column; }
  .motorhome_grid_c {
    display: flex;
    flex-direction: column; }
  .motorhome_grid_4x4 {
    display: flex;
    flex-direction: column; }
  .motorhome_main_imgportada {
    width: 70%; }
  .motorhome_main {
    justify-content: center; }
  .index_main {
    justify-content: center; }
    .index_main div {
      padding-top: 5px;
      padding-bottom: 5px; }
  .index_main h1 {
    font-size: xx-large; }
  .index_main div {
    padding-top: 10px; }
  .index_main img {
    width: 100%; }
  .motorhome_div img {
    width: 100%; }
  .motorhome_div p {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  .contacto_main {
    justify-content: center; }
    .contacto_main div {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 5px; } }
